footer {
	background-color: map-get($color-nuance, darkgrey);
	color: white;
	padding: 20px 0 20px 20px;
	ul {
		padding: 0;
	}
	li {
		margin-top: 10px;
	}
	i {
		margin-right: 5px;		
	}
	a:hover {
		text-decoration: underline;
	}
	
	@include desktop {
		padding-left: 150px;
	}	
}

