.localisation {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #F3F3F3;
	align-items: center;
	height: 60px;
	color: #3d3d3d;
	& i {
		margin-right: 20px;
	}
	&__ville {
	font-size: 14pt;
	font-weight: bold;
}
}
