.tutoriel {
	padding: 20px 150px;
	counter-reset: tutoriel_etape;
		& ol {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			list-style-type: none;
			padding-left: 15px;
			position: relative;
		& li {
			width: 320px;
			position: relative;
			&::before {
				content: counter(tutoriel_etape);
				counter-increment: tutoriel_etape;
				background-color: $color-primary;
				color: white;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 25px;
				height: 25px;
				border-radius: 100%;
				left: -15px;
				position: absolute;
				
			}
			background-color: #f6f6f6;
			padding: 25px 25px;
			border-radius: 25px;
			@include base-shadow;
			& i {
				margin-right: 10px;
			}
		}
	}
}

h2{
	font-size: 16pt;
}