/*Loader*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Shrikhand&display=swap");
.chargement {
  background-color: white;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.8;
  animation: disappear 200ms 3s forwards;
  transform-origin: top;
}
.chargement__cercle {
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  opacity: 0.9;
  animation: spin linear infinite;
  animation-duration: 2s;
}
.chargement__cercle::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  left: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-top-color: #FF79DA;
  border-bottom-color: #FF79DA;
  opacity: 0.9;
  animation: spin linear infinite;
  animation-duration: 3s;
}
.chargement__cercle::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-top-color: #99E2D0;
  border-bottom-color: #99E2D0;
  opacity: 0.9;
  animation: spin linear infinite;
  animation-duration: 6s;
}

/*Animations Slide*/
@keyframes slide-top {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50px);
  }
}
@keyframes slide-rev {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}
/*Animation Rotation*/
@keyframes rotation {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rotation-rev {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-270deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Animation Disparition*/
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1 {
  font-family: "shrikhand", cursive;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 13pt;
  font-weight: bold;
}

footer h3 {
  font-family: "shrikhand", cursive;
}

h4 {
  font-weight: bold;
}

.carte__entete__titre {
  font-family: "shrikhand", cursive;
  font-size: 18pt;
}

.carte__contenu__titre {
  text-transform: uppercase;
}

span {
  font-size: 14pt;
  font-weight: bold;
}

p {
  font-size: 12pt;
}

.restaurant--nouveau::after {
  font-size: 12pt;
}

.plat__prix {
  font-weight: bold;
}

.bouton {
  background-image: linear-gradient(-5deg, #9356DC, #FF79DA);
  border: 0;
  color: white;
  font-size: 13pt;
  height: 45px;
  width: 230px;
  border-radius: 100px;
  margin: 0 auto;
  transition-duration: 0.25s;
}
.bouton:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.3);
}

.fa-heart {
  color: #575757;
}
.fa-heart--plein {
  position: absolute;
  right: 20px;
}
.fa-heart--plein::before {
  font-weight: 900;
  background-image: linear-gradient(180deg, #9356DC, #FF79DA);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  opacity: 0;
  transition: all 300ms ease-in;
}
.fa-heart--plein:hover::before {
  cursor: pointer;
  font-weight: 900;
  opacity: 1;
  background-size: 100% 100%;
}

header {
  text-align: center;
  padding: 15px;
  position: relative;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.13);
}
header .retour {
  color: inherit;
  position: absolute;
  top: 25px;
  left: 100px;
}
header .retour:hover {
  color: #9356DC;
  transform: scale(1.05);
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px 150px 20px 150px;
}
footer h3 {
  margin: 0 auto;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer li {
  margin-top: 10px;
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer a:hover {
  text-decoration: underline;
}
footer i {
  width: 15px;
  margin-right: 5px;
  color: white;
}
@media (max-width: 1024px) {
  footer {
    padding: 20px 0 20px 20px;
  }
}

.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  color: #353535;
  height: 60px;
}
.localisation i {
  margin-right: 20px;
}

.explorer {
  background-color: #F6F6F6;
  text-align: center;
  padding: 30px;
}
.explorer h2 {
  margin-top: 0;
}
.explorer p {
  color: #7D7D7D;
}

.tutoriel {
  padding: 20px 150px;
  counter-reset: tutoriel_etape;
}
@media (max-width: 1024px) {
  .tutoriel {
    padding: 20px;
  }
}
.tutoriel ol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 15px;
  position: relative;
}
.tutoriel li {
  width: 320px;
  position: relative;
  background-color: #F6F6F6;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.13);
}
@media (max-width: 1024px) {
  .tutoriel li {
    width: 100%;
    margin-bottom: 20px;
  }
}
.tutoriel li::before {
  content: counter(tutoriel_etape);
  counter-increment: tutoriel_etape;
  background-color: #9356DC;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  position: absolute;
  left: -15px;
}
.tutoriel li i {
  color: #7D7D7D;
  margin-right: 20px;
}
.tutoriel li:hover {
  cursor: pointer;
  background-color: #f2eafb;
}
.tutoriel li:hover i {
  color: #9356DC;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 20px 150px 20px 150px;
}
.restaurants > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .restaurants > div {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: nowrap;
  }
}
@media (max-width: 1024px) {
  .restaurants {
    width: calc(100% - 40px);
    padding: 0 20px 0 20px;
  }
}

.restaurant {
  text-decoration: none;
  color: inherit;
  border-radius: 15px;
  background-color: white;
  height: 300px;
  width: 590px;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.13);
}
.restaurant:hover {
  box-shadow: 0rem 0rem 1rem rgba(147, 86, 220, 0.6);
}
@media (max-width: 1024px) {
  .restaurant {
    width: 100%;
  }
}
.restaurant--nouveau::after {
  content: "Nouveau";
  background-color: #99E2D0;
  color: #1b6150;
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0;
  padding: 5px 10px;
}
.restaurant img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant__description {
  border-radius: 0 0 15px 15px;
  padding: 10px;
  position: relative;
}
.restaurant__description h3, .restaurant__description p {
  margin: 10px;
}
.restaurant__description i {
  position: absolute;
  top: 40px;
  right: 30px;
}

.banniere {
  height: 400px;
}
.banniere img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.carte {
  background-color: #F6F6F6;
  border-radius: 25px;
  position: relative;
  top: -80px;
  margin: 0 80px -80px 80px;
}
@media (max-width: 1024px) {
  .carte {
    margin: 0;
    margin-bottom: -80px;
  }
}
.carte__entete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 20px;
}
.carte__contenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0 20px 0 20px;
}
@media (max-width: 1024px) {
  .carte__contenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.carte__contenu > div {
  width: 400px;
}
@media (max-width: 1024px) {
  .carte__contenu > div {
    width: 100%;
  }
}
.carte__contenu h3 {
  color: #7D7D7D;
  padding-bottom: 10px;
  position: relative;
  margin: 5px 0 5px 0;
}
.carte__contenu h3::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.plat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: relative;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.13);
  border-radius: 15px;
  margin: 15px 0 15px 0;
  overflow: hidden;
  animation: slide-top 1s, fade-in 1s ease 0s 1 both;
  animation-fill-mode: both;
}
.plat:nth-child(1) {
  animation-delay: 300ms;
}
.plat:nth-child(2) {
  animation-delay: 600ms;
}
.plat:nth-child(3) {
  animation-delay: 900ms;
}
.plat:nth-child(4) {
  animation-delay: 1200ms;
}
.plat:nth-child(5) {
  animation-delay: 1500ms;
}
.plat__description {
  width: calc(100% - 30px - 30px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  padding: 15px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.plat__description h4, .plat__description p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.plat__prix {
  width: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  margin: 0 auto;
  padding-bottom: 15px;
  height: 100%;
  animation-name: slide-rev 1s;
}
.plat__confirme {
  color: white;
  background-color: #99E2D0;
  position: absolute;
  left: calc(100% + 1px);
  width: 50px;
  height: 100%;
  padding: 0 10px 0 10px;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation-name: slide-rev 1s;
}
.plat__confirme i {
  animation: rotation-rev 1s;
}
.plat:hover {
  cursor: pointer;
}
.plat:hover .plat__description {
  transition: width 1s;
  width: calc(100% - 60px - 30px);
}
.plat:hover .plat__prix {
  animation: slide-left 1s;
  animation-fill-mode: forwards;
}
.plat:hover .plat__confirme {
  opacity: 1;
  animation: slide-left 1s;
  animation-fill-mode: forwards;
}
.plat:hover .plat__confirme i {
  animation: rotation 1s;
  animation-fill-mode: forwards;
}

.commande {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0 50px 0;
}
