.bouton {
	background-image: $gradient;
	border: 0;
	color: white;
	height: 45px;
	width: 230px;
	@include b-radius(100px);
	margin: 30px 0 0 0;
	transition-duration: .25s;
	@include box-shadow-initial;
	&:hover {
		cursor: pointer;
		opacity: 0.8;
		@include box-shadow-anime;
	}
}