.bouton {
	background-image: $gradient;
	border: 0;
	color: white;
	height: 45px;
	width: 230px;
	border-radius: 100px;
	margin: 30px 0 0 0;
	transition-duration: .25s;
	@include box-shadow-initial;
	&:hover {
		cursor: pointer;
		opacity: 0.8;
		@include box-shadow-anime;
	}
}

.commande{
	@include flex-box($position: center);
	padding: 50px 0 50px 0;
}
