*,
*:before,
*:after {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, span, p {
	margin: 0;
	line-height: 1;
}

ol, li {
	list-style: none;
}

a {
	text-decoration: none;
}

a, i {
	color: inherit;
}

img {
	width: 100%;
	object-fit: cover;
}

h2 {
	margin: 25px 0;
}

main {
	> * {
		padding: 30px 20px;

		@include desktop {
			padding: 30px 150px;
		}
	}
}