body {
	font-family: $font-text;
	font-weight: 300;
}

h1 {
	font-family: $font-logo;
}

h2 {
	font-family: $font-logo;
	font-size: 18pt;
}

h3, .button {
	font-size: 16pt;
	font-weight: bold;
}

h4 {
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
}

h4, h6 {
	font-size: 18px;
}


h5 {
	font-size: 16px;
}

h6 {
	font-family: $font-logo;
	font-size: 18px;
}


span {
	font-weight: bold;
}

a {
	font-weight: 400;
}

.restaurant--nouveau::after, p, span {
	font-size: 12pt;
}

.explorer {
	text-align: center;
}

.plat__prix {
	font-weight: bold;
}


