@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Shrikhand&display=swap');

body, html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

button {
	font-weight: bold;
	font-size: 13pt;
}

h1 {
	font-family: $font-logo;
	font-weight: 400;
}

h2 {
	font-weight: bold;
	font-size: 18pt;
}

.carte__entete__titre {
	font-family: $font-logo;
	font-weight: normal;
	font-size: 20pt;
}

h3 {
	font-size: 15pt;
}

.carte__contenu__titre {
	font-weight: 300;
	text-transform: uppercase;
}

h4 {
	font-size: 13pt;
}

.explorer {
	text-align: center;
}

p, span {
	font-size: 13pt;
}

.plat__prix {
	font-weight: bold;
}

.footer__logo {
	font-family: $font-logo;
	font-size: 14pt;
}