.localisation {
	@include flex-box($direction: row, $position: center, $alignement: center);
	padding: 20px;
	background-color: map-get($color-nuance, mediumgrey);
	color: map-get($color-nuance, darkgrey);
	i {
		margin-right: 20px;
	}
}

.explorer {
	background-color: map-get($color-nuance, lightgrey);
	padding-bottom: 60px;
}

.tutoriel {
	counter-reset: tutoriel_etape;	
	ol {
		@include flex-box($direction: column);
		padding-left: 15px;

		@include desktop {
			@include flex-box($direction: row, $position: space-around);
		}
	}
	li {
		width: 100%;
		background-color: map-get($color-nuance, lightgrey);
		padding: 30px;
		margin-bottom: 20px;
		border-radius: 25px;
		@include position(relative);
		@include box-shadow-initial;

		@include desktop {
			width: calc( ( 100% - 2 * 60px ) / 3 );
		}

		&::before {
			content: counter(tutoriel_etape);
			counter-increment: tutoriel_etape;
			background-color: $color-primary;
			color: white;
			@include flex-box($position: center, $alignement: center);
			width: 25px;
			height: 25px;
			border-radius: 100%;
			@include position(absolute, $left: -15px);	
		}
		i {
			color: map-get($color-nuance, grey);
			margin-right: 10px;
		}
		&:hover {
			background-color: lighten($color-primary, 35);
			i {
				color: $color-primary;
			}
		}
	}
}

.restaurants {
	background-color: map-get($color-nuance, lightgrey);
	> div {
		@include flex-box($direction: column);

		@include desktop {
			@include flex-box($direction: row, $position: space-between);
			flex-wrap: wrap;
		}
	}
}

.restaurant {	
	border-radius: 15px;
	@include box-shadow-initial;
	@include position(relative);
	background-color: white;
	height: 300px;
	width: 100%;
	margin-bottom: 30px;

	@include desktop {
		width: 45%;
	}

	&:hover {
		@include box-shadow-color;
	}
	&--nouveau::after {
		content: "Nouveau";
		background-color: $color-tertiary;
		color: darken($color-tertiary, 40);
		@include position(absolute, $top: 20px, $right: 20px,);
		padding: 10px;
	}
	img {
		height: 200px;
		border-radius: 15px 15px 0 0;
	}
	&__description {
		padding: 10px;
		border-radius: 0 0 15px 15px;
		@include position(relative);
		h3, p {
			margin: 10px;
		}
		.fa-heart {
			@include position(absolute, $top: 40px, $right: 30px,);
		}
	}	
}
