.banniere {
	height: 400px;
	img {
		height: 400px;
	}
}

.carte{
	background-color: map-get($color-nuance, lightgrey);
	@include position(relative, $top: -80px);
	margin: 0 0 -80px 0;
	border-radius: 25px;

	@include desktop {
		margin: 0 150px -80px 150px;
	}

	&__entete {
		@include position(relative);
		@include flex-box($position: space-between, $alignement: center);
		padding: 20px 20px 0 20px;
	}
	&__contenu {
		@include flex-box($direction: column, $position: space-between);
		padding: 0 20px;

		@include desktop {
			@include flex-box($direction: row, $position: space-around);
			padding: 0;
			> * {
				width: 30%;
			}
		}

		&__titre {			
			padding-bottom: 10px;
			margin: 30px 0 20px;
			@include position(relative);
			&::after {
			    content: "";
			    width: 50px;
			    height: 3px;
			    background-color:$color-tertiary;
			    @include position(absolute, $bottom: 0, $left: 0);
			}
		}
	}
}

.plat {
	width: 100%;
	background-color: white;
	@include flex-box($position: space-between);
	@include position(relative);
	@include box-shadow-initial;
	border-radius: 15px;
	margin: 15px 0;	
	overflow: hidden;

	@for $i from 1 through 5 {
		&:nth-child(#{$i}) {
			animation-delay: 300ms * $i;
		}
	}
	animation: slide-top 1s, fade-in 1s ease 0s 1 both;
	animation-fill-mode: both;

	@include desktop {
		@include flex-box($direction: column, $position: space-between);
	}

	&__description {
		width: calc(100% - 30px - 30px);
		@include flex-box($direction: column, $position: space-between);
		padding: 15px;
		> h4, p {
			@include overflow-hidden;
		}
	}
	&__prix {
		@include flex-box($direction: column, $position: flex-end);
		@include position(absolute, $right: 0);
		width: 35px;
   		margin: auto;
   		padding-bottom: 15px;
    	height: calc(100%);
    	animation: slide-rev 1s;
    }
    &__confirme {
		@include flex-box($position: center, $alignement: center);
		@include position(absolute, $left: calc(100% + 1px));
		border-radius: 0 10px 10px 0;
		color: white;
		background-color: $color-tertiary;
		width: 50px;
		height: 100%;
		padding: 0 10px;		
    	animation: slide-rev 1s;
		i {
    		animation: rotation-rev 1s;			
    	} 	
	}
	&:hover {
		cursor: pointer;
		.plat__description {
			transition: width 1s;
			width: calc(100% - 60px - 30px);
		}
		.plat__prix {
			animation: slide-left 1s;
			animation-fill-mode: forwards;
		}
		.plat__confirme {
			opacity: 1;
			animation: slide-left 1s;
			animation-fill-mode: forwards;
			i {
				animation: rotation 1s;
				animation-fill-mode: forwards;
			}
		}
	}
}
