@mixin flex-row ($justify){
	display: flex;
	flex-direction: row;
	justify-content: $justify;
}

@mixin flex-column($justify){
	display: flex;
	flex-direction: column;
	justify-content: $justify;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
	position: $position;
	top: $top;
	right: $right;
	left: $left;
	bottom: $bottom;
}

@mixin b-radius($radius) {
	border-radius: $radius;
}

@mixin base-shadow {
	box-shadow: 4px 4px 4px rgb(0 0 0 / 13%);
}

@mixin base-shadow-anime {
	box-shadow: 6px 6px 13px rgb(0 0 0 / 30%);
}

@mixin base-shadow-primary{
	box-shadow: 0rem 0rem 1rem rgb(147,86,220,0.6);
}

@mixin border-loader ($color, $duration: null) {
	border-radius: 50%;
	border: 5px solid transparent;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-top-color: $color;
    border-bottom-color: $color;
    opacity: 0.9;
    animation: spin linear infinite; 
    animation-duration: $duration; 
}

@mixin overflow-hidden {
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
